/* Desktop Version */
.item_boxes {
	border: 1px solid #DFDFDF;
	float: inherit;
	margin: 5px 0 10px;
}
.item_text {
	font-family: Arial, Helvetica, sans-serif;
	color: #939598;
	min-height: 41px;
	padding-top: 5px;
	padding-left: 5px;
}
.item_boxes {
	text-decoration: none;
}
.item_text {
	text-decoration: none;
}

.img-central {
	margin: auto;
}
.internal_content {
	margin-top: 95px;
}
.internal_title {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 2.8em;
	color: #6D6E71;
	font-weight: 700;
}
.internal_text {
	color: #6D6E71;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.5em;
	margin-top: 25px;
}
.internal_text > a {
	color: #BE1E2D;
}
form .text {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #939598;
	color: #000000;
	font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 1.5em;
	margin-bottom: 20px;
	padding: 7px;
	width: 60%;
}
label {
	clear: left;
	color: #6D6E71;
	display: inline-block;
	float: left;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2em;
	font-weight: normal;
	padding-right: 2%;
	text-align: right;
	width: 16%;
}
.top {
	margin-top: 25px;
	clear: both;
}
input {
	display: inline-block;
	float: left;
}
.bottom {
	float: right;
	padding-right: 24%;
}
/*#new_arrivals_thumbnails {
 margin-top: 0.5%;
 }*/

/* Submenu Categories style */
.submenu {
	margin-left: -20px;
	margin-top: 20px;
	position: absolute;
	width: 100%;
}
.submenu_margin_ul {
    padding-left: 0px;
}

/*#boys_submenu {
 margin-left: -60px;
 margin-top: 19px;
 position: absolute;
 }*/
.category_submenu li {
	border-bottom: 1px solid #E6E7E8;
	padding: 5px 0;
}
/*.mens_top_sub {
 background-color: #FAFAFA;
 margin-left: 0;
 padding-left: 14px;
 }*/

.submenu_text {
	color: #ADAFB1;
}
a.submenu_text:link {
	color: #ADAFB1;
	margin: 0 40px 0 0;
}
a.submenu_text:hover {
	color: #535353;
	text-decoration: none;
}
a.submenu_text:active {
	color: #535353;
	text-decoration: underline;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	background-color: #FFFFFF;
	color: #6d6e71;
}
.caret {
	border-top: 4px solid #ADAFB1;
}
.dropdown-menu {
    border: medium none;
    border-radius: 0 0 0 0;
    box-shadow: none;
    font-size: 1em;
    margin-top: 6px;
    padding: 0;
    position: relative;
    width: 100%;
}
.dropdown-menu > li > a {
     padding: 0 20px;
}

/* Mens submenu style */

/*#mens_submenu {
 margin-left: -60px;
 margin-top: 19px;
 position: absolute;
 }*/

/*locations style*/
#locations_submenu {
	margin-left: -60px;
	margin-top: 19px;
	position: absolute;
}

.submenu_locations_title {
	color: #BE1E2D;
	font: 2em 'Open Sans', sans-serif;
	margin: 0 40px 0 0;
	padding: 0 0 0 5px;
}
a.submenu_locations_txt {
	color: #ADAFB1;
	font: 1.3em 'Open Sans', sans-serif;
	margin: 0 40px 0 0;
	padding: 0 0 0 5px;
}
a.submenu_locations_txt:link, a.submenu_locations_txt:hover, a.submenu_locations_txt:active {
	color: #535353;
	text-decoration: none;
}

a:hover, a:focus, a:active {
	color: #535353;
}

/*.boys_submenu_xs {
 background-color: #f7f7f7;
 border-bottom: 1px solid #E6E7E8;
 color: #ADAFB1;
 font: 0.5em 'Open Sans', sans-serif;
 margin-top: 0;
 padding: 6px 0 5px 10px;
 }
 .boys_submenu_xs_position {
 margin-left: -84px;
 margin-top: 10px;
 }*/

h1 {
	font-size: 36px;
	color: #BE1E2D;
	font-weight: bold;
	font-family: verdana;
}
h2 {
	font-size: 1.8em;
	font-family: 'Open Sans', sans-serif;
	color: #5D5D5D;
	font-weight: bold;
}
strong {
	font-size: 1em;
	font-family: 'Open Sans', sans-serif;
}
.location_box {
	margin-top: 35%;
}
.location_txt {
	color: #6D6E71;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
}
.location_txt a {
	color: #BE1E2D;
	font-size: 1em;
}
.location_boys_txt {
	color: #B4B4B4;
	font-size: 0.9em;
}
/*.nav-open, .nav-close {
 display: none;
 color: #333;
 font-size: 1.2em;
 font-weight: 400;
 font-family: "Yanone Kaffeesatz", Arial, Helvetica, sans-serif;
 text-decoration: none;
 text-transform: uppercase;
 line-height: 50px;
 letter-spacing: 1px;
 background: #060608;
 }*/

/* Tablet Version */

@media (max-width: 768px) {
	.internal_content {
		margin-top: 25px;
	}
	/*Special class to category submenu*/
	.category_submenu li {
		/*background-color:grey;*/
	}
	.category_submenu {
		margin-top: 2%;
	}
}

/* SmartPhone Version */

@media (max-width: 480px) {
	.boxes_responsive {
		margin-bottom: 10px;
		padding-bottom: 0;
		padding-left: 0px;
	}
	.item_text {
		font-size: 9px;
	}
	label {
		width: 25%;
		font-size: 0.9em;
	}
	form .text {
		width: 65%;
		font-size: 0.9em;
	}
	.bottom {
		padding-right: 10%;
	}
	.internal_title {
		font-size: 1.5em;
		font-weight: 900;
	}
	.internal_text {
		font-size: 1em;
	}
	
	/*#boys_submenu{
	 display: none;*/
}
/*.nav-open {
 display: block;
 text-align: center;
 }*/
}
