body {
	background-image: url(../images/inc_home_bg.jpg);
	background-repeat: repeat-x;
	margin: auto;
}

#top {
	 background-image: url("../images/inc_home_topbg.jpg"); 
	/* background-color: #BE1E2D; */
	/* background-size: 100%; */
	height: 30px; 
	background-repeat: repeat-x;
	
}
.navbar-default {
	background-color: transparent;
	border-color: transparent;
}
.textSigup {
	color: white;
	font: 0.75em Verdana, Geneva, Arial, Helvetica, sans-serif;
	margin-top: 7px;
	text-decoration: none;
}
a.textSigup:visited {
	color: white;
	margin-top: 7px;
	text-decoration: none;
}
a.textSigup:hover {
	color: white;
	text-decoration: underline;
}
.navText {
	color: red;
	font: 0.9em Verdana, Geneva, Arial, Helvetica, sans-serif;
	margin-top: 4px;
	text-decoration: none;
	margin-left: -34px;
}
a.navText:link {
	color: red;
	font: 0.9em Verdana, Geneva, Arial, Helvetica, sans-serif;
	margin-top: 30px;
	text-decoration: none;
}
a.navText:visited {
	color: red;
	font: 0.9em Verdana, Geneva, Arial, Helvetica, sans-serif;
	margin-top: 30px;
	text-decoration: none;
}
a.navText:hover {
	color: red;
	font: 0.9em Verdana, Geneva, Arial, Helvetica, sans-serif;
	margin-top: 30px;
	text-decoration: none;
}
#menuBg {
	background-image: url("../images/inc_home_menubg.jpg");
	height: 77px;
	/* background-size: 100%; */
	background-repeat: repeat-x;
	max-height: 77px;
}
.jumbotron {
	background-color: white;
	min-height: 680px;
	background-repeat: no-repeat;
}
#banner {
	background-image: url("../images/banner/inc_banner.jpg");
	background-size: 100%;
}
#home_boxes {
	/* float: right; */
	margin: 32% 0% 0% 0%;
	/* display: block; */
	/* position: relative; */
	/* clear: both; */
	/* background-color: pink; */
}
.ad_box {
    border: 1px solid #A7A9AC;
    /* max-height: 292px; */
    /* max-width: 203px; */
    margin-right: -8px;
}   
.content_box_shadow {
	/* background: pink; */
	-moz-box-shadow: 0px 0px 6px #666;
	-webkit-box-shadow: 0px 0px 6px #E28585;
	box-shadow: 0px 0px 6px #929292;
	behavior: url();
}
#menu{
	z-index: 1; 
	margin-top: 0px;
}
.ad_boxText{
	color: #BE1E2D;
	font: bold 12px Verdana, Geneva, Arial, Helvetica, sans-serif;	
	padding: 7px 0px 15px 12px;
}
.footerColor{
	background-color: grey;
}
.libreContent(
	height: 30%;
)
.footer_color {
    background-color: #D1D3D4;
    height: 50px;
    margin: -38px 0 0;
}
.footer_text{
	color: #6D6E71;
	font: 12px Verdana, Geneva, Arial, Helvetica, sans-serif;
}
#footer_bg_color{
	background-color: #D1D3D4;
    
	/* max-height: 13%; */
    
	margin: -60px 0 0;}
.footer_distance{
	margin: 0% 0px 0px 0px;
}
#content_border{
	border-top: 1px solid #C5C7C9;
	margin-top: 5%;
	padding-top: 3%;
}
.copyright_txt {
	color: #58595B;
	font: 12px Verdana, Geneva, Arial, Helvetica, sans-serif;
	margin: 106px 0px 0px -100px;
}
ul, li {
	list-style-type: none;
}
.img-location{
	margin: 45px 0px 0px 0px;
	/* height: auto; */
}
.footer_display{
	display: inline-block;	
	clear: both;
	height: 0;
}
.location-col {
	column-count: 5;
	column-gap: 20px;
	-moz-column-count: 5;
	-moz-column-gap: 20px;
	-webkit-column-count: 5;
	-webkit-column-gap: 20px;
	text-align: left;
	color: #58595B;
	font: 11.5px Verdana, Geneva, Arial, Helvetica, sans-serif;
}
.find_txt{
	color: #BE1E2D;
	font: bold 12px Verdana, Geneva, Arial, Helvetica, sans-serif; 
	padding: 0px 0px 13px 37px;
}
.navbar-brand {
	padding: 0px 5px;
}
.navbar-nav {
	margin: 13px;
}
.nav>li>a {
		padding: 14px 0px 0px 10px;
}
.navbar-text {
	margin-top: 10px;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
	color: #BE1E2D;
	font: 12px Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-decoration: underline;
}
.navbar-default .navbar-nav>li>a {
	color: #BE1E2D;
	font: 12px Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-decoration: none;
}
.navbar-default .navbar-text {
	color: #BCBEC0;
	
}
/*
.img-responsive.img-sm {
	margin-top: -49px;
	width: 83%;
}
*/