/* Desktop Version */
html, body {
	background-image: url(../images/inc_home_bg.jpg);
	background-repeat: repeat-x;
	margin: 0;
	padding: 0;
	height: 100%;
	font-size: 11px;
}
.row {
	margin-right: 0px;
	margin-left: 0px;
}
#container {
	min-height: 100%;
	position: absolute;
	min-width: 100%;
}

#top {
	background-image: url("../images/inc_red_top.jpg");
	background-repeat: repeat-x;
	height: 100%;
	height: 30px;
}

.navbar-default {
	background-color: transparent;
	border-color: transparent;
}
.textSingUp {
	color: white;
	font: 0.9em Verdana, Geneva, Arial, Helvetica, sans-serif;
	margin-top: 7px;
	text-decoration: none;
	float: right;
}
a.textSingUp:visited {
	color: white;
	margin-top: 7px;
	text-decoration: none;
}
a.textSingUp:hover {
	color: white;
	text-decoration: underline;
}
/*.navText {
 color: red;
 font: 0.9em Arial, Helvetica, sans-serif;
 margin-top: 4px;
 text-decoration: none;
 margin-left: -34px;
 }
 a.navText:link {
 color: red;
 font: 0.9em Arial, Helvetica, sans-serif;
 margin-top: 30px;
 text-decoration: none;
 }
 a.navText:visited {
 color: red;
 font: 0.9em Arial, Helvetica, sans-serif;
 margin-top: 30px;
 text-decoration: none;
 }
 a.navText:hover {
 color: red;
 font: 0.9em Verdana, Geneva, Arial, Helvetica, sans-serif;
 margin-top: 30px;
 text-decoration: none;
 }*/
#menuBg {
	background-image: url("../images/inc_menu_bg.jpg");
	height: 77px;
	background-repeat: repeat-x;
}
.bg_color {
	background-color: #FFFFFF;
}
.jumbotron {
	background-color: #FFFFFF;
	float: right;
	margin-bottom: 0;
	padding-bottom: 0;
	padding-top: 0;
	width: 100%;
}
#banner {
	background-size: 100%;
	margin-bottom: 0%;
	width: 100%;
	background-color: #FFFFFF;
}

#mini_boxes {
	margin: -40% 0% 0 0%;
	padding-bottom: 15px;
	z-index: 1000;
}
.ad_box {
	border: 1px solid #DFDFDF;
	margin-right: -0px;
}
.content_box_shadow {
	-moz-box-shadow: 0px 0px 6px #DFDFDF;
	-webkit-box-shadow: 0px 0px 6px #DFDFDF;
	box-shadow: 0px 0px 6px #666;
	position: relative;
	zoom: 1;
	behavior: url();
}
#menu {
	z-index: 1;
	margin-top: 0px;
}
.ad_boxText {
	color: #BE1E2D;
	font-family: arial;
	font-size: 1.3em;
	font-weight: bold;
}
.ad_boxText:link {
	color: #BE1E2D;
	font-family: arial;
	font-size: 1.3em;
	font-weight: bold;
	text-decoration: none;
}
.ad_boxText:hover {
	text-decoration: underline;
}
.thumbnail .caption {
	color: #BE1E2D;
}
.coupons {
	margin-top: 20px;
	padding: 0px 0px 0px 41px;
}
a.thumbnail:hover, a.thumbnail:focus {
	border-color: #828383;
}
.footer_bottom {
	bottom: 0;
	position: absolute;
	width: 100%;
	height: 1%;
}
#footer_bg {
	background-color: #D1D3D4;
	height: 60px;
	margin-top: 93px;
	position: absolute;
	text-align: left;
	width: 100%;
	bottom: 0;
}
.footer_image {
	bottom: 0;
	left: 0;
	position: absolute;
}
.footer_text {
	left: 14%;
	position: absolute;
	top: 15%;
}
#location_border {
	border-top: 1px solid #C5C7C9;
	margin-top: 5%;
	padding-top: 3%;
}
.copyright_txt {
	color: #58595B;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding: 0 0px 0 4px;
	text-decoration: none;
	margin-bottom: 0px;
	display: flex;
}
a.copyright_txt:link {
	color: #58595B;
}
a.copyright_txt:hover {
	color: #BE1E2D;
	text-decoration: underline;
}
.copyright_line > li {
	display: inline-flex;
}

ul, li {
	list-style-type: none;
}
.img-location {
	margin: 45px 0px 0px 0px;
	height: auto;
}
.footer_display {
	display: inline-block;
	clear: both;
	height: 0;
}
#location {
	margin-bottom: 15%;
}
.find_txt {
	color: #BE1E2D;
	font: bold 12px Verdana, Geneva, Arial, Helvetica, sans-serif;
	padding: 0px 0px 13px 14px;
}
.location_txt {
	color: #6D6E71;
	font: 12px Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-decoration: none;
}

a.location_txt:hover {
	color: #6D6E71;
	text-decoration: underline;
}
.navbar-brand {
	padding: 0px 5px;
}
.navbar-nav {
	
	margin-top: 30px;
}
.nav > li > a {
	margin-left: 0;
	padding: 0;
}
.navbar-text {
	font-size: 14px;
	margin-bottom: 0;
	margin-left: 0;
	margin-top: 0;
	padding-left: 10px;
	padding-right: 10px;
	
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #BE1E2D;
	font: 12px 'Open Sans', sans-serif;
	text-decoration: underline;
}
.navbar-default .navbar-nav > li > a {
	color: #BE1E2D;
	font: 12px 'Open Sans', sans-serif;
	text-decoration: none;
}
.navbar-default .navbar-text {
	color: #BCBEC0;
}
.navbar-toggle {
	position: relative;
	float: right;
	padding: 9px 10px;
	margin-top: 19px;
	margin-bottom: 9px;
	border: 1px solid rgba(207, 46, 46, 0);
	border-radius: 4px;
	margin-right: 12px;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: rgba(107, 104, 104, 0.34);
}

.navbar-default .navbar-toggle {
	border-color: #ECE8E8;
	background-color: #EEEEEE;
	border-right-color: #ddd;
	border-bottom-color: #ddd;
}
.thumbnail {
	border: 0px;
	border-radius: 0px 0px 0px 0px;
	display: block;
	height: auto;
	line-height: 1.42857;
	max-width: 100%;
	padding: 0px;
	transition: all 0.2s ease-in-out 0s;
}

/* Tablet Version */

@media (max-width: 1050px) {
	.navbar-text {
		margin-right: 15px;
		margin-left: 0px;
	}
	.nav > li > a {
		padding: 13px 5px 0px 5px;
		margin-top: 3px;
	}
}
@media (max-width: 855px) {
	.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:link {
		background-color: #f0f0f0;
		padding: 2% 4% 2% 0%;
		margin: 0% -4% 0% -4%;
		text-align: right;
	}
}
@media (min-width: 768px) {
	* {
		font-size: 12px;
	}
}

/* Smartphone Version */

@media (max-width: 480px) {
	.content_box_shadow {
		-moz-box-shadow: 0px 0px 0px;
		-webkit-box-shadow: 0px 0px 0px;
		box-shadow: 0px 0px 0px;
	}
	.thumbnail .caption {
		padding: 5px 0px 0px 8px;
		font-size: 70%;
	}
	.style_phone {
		margin-bottom: 15%;
	}
}
@media (max-width: 403px) {
	.navbar-brand > img {
		width: 70%;
		margin-top: -23%;
	}
}
@media (min-width: 321px) and (max-width: 360px) {
	.footer_text {
		left: 17%;
	}
}
@media (max-width: 320px) {
	.thumbnail .caption {
		padding: 2px 0px 0px 6px;
		font-size: 50%;
		margin: 0px 0px -7px 0px;
		left: 20%;
	}
	.footer_text {
		left: 22%;
	}
	.copyright_txt {
		font-size: 9px;
	}
	.style_phone {
		margin-bottom: 25%;
	}
}