body{
	background-image: url(../images/inc_home_bg.jpg);
	background-repeat: repeat-x;
	margin: auto;
}

#top{
	background-image: url(../images/inc_home_topbg.jpg);
	height: 30px;
}
.textSigup{
	color: white;
	font: 0.75em Verdana, Geneva, Arial, Helvetica, sans-serif;
}
.menu_bg{
	background-image: url(../images/inc_home_menubg.jpg);
	height: 744px;
	background-repeat: repeat-x;
}
.nav_text_aling{
	color: #ca1c25;
	font: 0.9em Verdana, Geneva, Arial, Helvetica, sans-serif;
	margin-top: 4%;
	text-decoration:none;
}
a.nav_textFont:link{
	color: #CA1C25;
	font: 0.9em Verdana, Geneva, Arial, Helvetica, sans-serif;
	margin-top: 4%;
	text-decoration: none;
}
a:visited {
	color: #CA1C25;
	text-decoration: none;
}
a.nav_textFont:hover{
	color: #CA1C25;
	text-decoration: none;
}
a.nav_textFont:active{
	color: #CA1C25;
	text-decoration: none;
}
#page-wrap {
 max-width: 200px;
 margin: 0 auto;
}